body{
    font-family: sans-serif;
    font-size: 1.5em;
}
ul{/* sélectionne TOUTES les liste de <ul> */
    list-style: none;/* supprime les puces */
    float: left; /*effet flottant a gauche*/
    margin: 0;/*marge exterieures*/
    padding: 0;

}
.left, .right{
    margin-top: 5em;

}
.left ul{/* les <ul> qui ont un parent direct ayant la clase .left */
    margin: 3.2em 0 0 0;
}
.left ul li{/* tous les <li> de la liste <ul> ayant la classe .left en parent */
border-bottom: 1px solid #ccc;
border-left: 1px solid #ccc;
padding: 1em;
widows: 10em;
}
.left ul li:first-child{/* le 1er <li> uniquement */
    border-top: 1px solid #ccc;
}
/* ==================FIN 1ére COLONNE ================ */
ul.listes li{/* tous les <li> de la listes <ul> qui a la classe .liste */
}

.right .change ul li{/* tous les <li> de la liste <ul> ayant la classe .change elle-meme enfant de la class .right */

border-top: 1px solid #ccc;
border-right: 1px solid #ccc;
padding: 1em;
width: 10em;
text-align: center;
}

.right .change ul li:first-child{
    background-color: #5d5d5d;
    color: #fff;
    font-weight: bold;/* épaisseur de la police */
}
.right .change ul li:last-child{/* dernier <li> */
    border-bottom: 1px solid #ccc; 
}
/*========================= FIN MISE EN FORME DU TABLEAU===================== */
/*==============EFFET DE TRANSITION AU SURVOM DE LA SOURIS :hover=============*/
.right .change ul:hover{
    background: linear-gradient(#d5d5d5, #8a8a8a);/*dégrade de haut en bas */
    cursor: pointer;/* change l'aspect du curseur */
    transform: scale(1.4);/*transform applique un effet 2D et scale ()correspond à l'échelle du zoom ainsi obtenu par rapport à la taile d'origine */
    transition-duration: 2s;/* durée de l'animation */
}
.right .change ul:hover li:first-of-type{
    background-color: #000;
}
/*===============FIN=========*/