body{
    margin: 10px 0;
    padding: 0;
    text-align: center;
    font-family: "PT SANS", sans-serif;
    background: #dea;/*#dea racourci de DDEEAA*/
}

h1#header{
    height: 250px;/*personalise la hauteur du titre*/
    background: url(../CSS/IMG/apple.jpg)
    no-repeat left top ;/*image de fond qui ne se répéte pas, positionnée à gauche en haut*/
    margin: 0;/*EMMET margin:0;=>m0+tab*/
}

h1#header a{
    width: 400px;
    height: 70px;
    display: block;
    background: url(../CSS/IMG/title.gif) no-repeat left top;
    position: relative;/*je règle sa postition par rapport à la balise parent*/
    left: 350px;
    top: 15px;
    text-indent: -5000px;/*text-indent fait un retrait*/
}

ul#menu{
    /*je donne à mon menu la meme haureur que l'image que je vais utiliser*/
    height: 35px;
    margin: 0;
    padding: 0;
    background: url(../CSS/IMG/bg_menu.gif) repeat-x 0 -25px;/*répete l'image horizontalement (axe x)-0 => aucun décalage à gauche -et -25px remonte m'image*/
    list-style-type: none;/* cache les puce */
}

ul#menu li{
    float: left;/* aligne les li sur la la meme ligne */
    text-align: center;/* EMMET tac+tab */

}

ul#menu li a{
    width: 130px;
    line-height: 25px;
    font-size: 1.2em;
    font-weight: bold;/* caractéres en gras - EMMET => fwb +tab */
    letter-spacing: 2px;/* espace entre les lettres */
    color: #fff;
    display: block;
    text-decoration:none; /* supprime l'affichage par défaut d'un lien(bleu souligné)
     */
     border-right: 2px solid #dea;
}

ul#menu li a:hover{
    background: url(../CSS/IMG/bg_menu.gif) repeat-x 0 0;
}

div#contenu{
    padding: 0 30px 0 100px;/*haut droite bas gauche*/
    background-image: url(../CSS/IMG/bg_page.gif);
    /*EMMET background image:url() => bgi + tab*/
    background-repeat: no-repeat;
    background-position: 15px 15 px;/*Créer un espace à gauche et à droite de l'image*/
}
div#conteneur{
    width: 770px;/*Largeur*/
    margin: 0 auto;
    text-align: left;
    border: 2px solid #ab4;
    background: #fff;
}
div#contenu h2{
    padding-left: 25px;/*décale le texte par rapport à l'image*/
    /*EMMET padding left => pl +tab*/
    line-height: 25px;/*hauteur de ligne*/
    /*EMMET line-height => lh+tab*/
    font-size: 1.4em;
    /*EMMET font-size => fz+tab*/
    background: url(../CSS/IMG/little_apple.gif) no-repeat left bottom;
    color: #9b2;
    border-bottom: 1px solid #9b2;
    /*EMMET order-bottom => bb+tab*/
}
div#contenu h2{
    margin-left: 15px;
    padding-left: 5px;
    border-bottom: 1px solid #9b2;
    border-left: 3px solid #000;
    color: #99bb22;
}
div#contenu p{
    text-align:justify;
    text-indent: 2em;
    line-height: 1.7em;
}
div#contenu a{
    /*mise en forme*/
    color: #88aa00;
}

div#contenu a:hover{
    /* change la couleur au survol de la souris avec la pseudo classe css::hover */
    color:red;
}

p#footer{
    margin: 0;/*EMMET = m+0*/
    padding-right: 10px;
    line-height: 30px;
    text-align: right;
    color: #88aa00;
}