body{
    width: 50%;
    margin: 0 auto;
}
table{
    margin: 0 auto;
    border-collapse: collapse;
}
td{

    height: 20px;

    width: 20px;

}
.noir{
    background-color: black;
}

.g{

    background-color:green;

}

.y{

    background-color:yellow;

}

.beige{

    background-color: burlywood;

}

.marron{

    background-color:chocolate;

}